extends ../layouts/player-scroller

block prepend head
	-var document_title = ': Artists'

block main
	.container
		// Artists list
		+heading('h2')(class='margin__bottom-0') Artists
		+artist-cards-list(artists)