extends ../layouts/player-scroller

block prepend head
	-var document_title = ': Charts'

block main
	.container
		// Tracks list
		+heading('h2')(class='margin__bottom-0') All tracks
		+tracks-list(tracks)