.container
    // Artists list
    +heading('h1').heading__h2.margin__yy-0.text__lineheight-1 Artists list
    +artist-cards-list(artists)
    .text__center.margin__bottom-1
        include pagination