.container
    .row
        .cols__xs-12.cols__xl-7
            // Artists list
            +heading('h2')(class='heading__h4 margin__yy-0') Artists
            +artist-cards-list(artists, 4)
        .cols__xs-12.cols__xl-5
            // Tracks list
            +heading('h2')(class='heading__h4 margin__bottom-0 margin__top-1 margin__xl-yy-0') Tracks list
            +tracks-list(tracks, 6)
            // Tags list
            +heading('h2')(class='heading__h4 margin__bottom-1_2 margin__top-1') All tags
            - ganres_array = Array.from(ganres)
            +tags-list(ganres_array)

    // Albums list
    +heading('h2')(class='heading__h4 margin__bottom-0 margin__top-1') Actual albums
    +albums-list(albums, 10)

    // Tracks list
    +heading('h2')(class='heading__h4 margin__bottom-0 margin__top-1') All tracks
    +tracks-list(tracks, 20)

    // Tracks list
    +heading('h2')(class='heading__h4 margin__bottom-0 margin__top-1') Last news
    - let news_tags=['History', 'Music']
    +news-list(news, 5)(news_tags, users=users).news-list__highlite-first