ul.pagination
    li.pagination_item: a(href="#") Prev
    li.pagination_item: a(href="#") 1
    li.pagination_item.pagination_item__active: a(href="#") 2
    li.pagination_item: a(href="#") 3
    li.pagination_item: a(href="#") 4
    li.pagination_item: a(href="#") Next