.page
    display: grid
    grid:
        template:
            areas: "header" "sidebar" "main" "footer" "player"
            columns: 1fr
        auto:
            rows: auto
    @include media_query_up(lg)
        grid:
            template:
                areas: "header main" "sidebar main" "sidebar footer" "player player"
                columns: 250px 1fr
                rows: auto 1fr auto auto
    min-height: 100vh
    overflow:
        x: hidden
    .header
        display: flex
        grid-area: header
        padding: 3rem 2rem 0 2rem
        align-items: center
        @include media_query_down(md)
            padding:
                top: 1rem
                left: 1rem
                right: 1rem
        .logo
            display: inline-flex
            margin-right: auto
            .logo_image
                max-width: 100%
                @include media_query_down(md)
                    max-width: 5rem
        .nav-trigger
            *
                pointer-events: none
    .sidebar
        grid-area: sidebar
        display: flex
        flex-direction: column
        @include media_query_down(md)
            position: fixed
            z-index: 100
            background-color: white
            width: 20rem
            right: -20rem
            height: 100vh
            transition: right .3s
            // States
            &.sidebar__active
                right: 0
                box-shadow: 0 .5em 1.5em rgba(black, .16)
            // Mixins
            .sidebar_navigation
                position: static
        .sidebar_navigation
            display: flex
            flex:
                direction: column
            padding: 2rem 2rem 3rem 2rem
            margin-bottom: auto
            @include media_query_up(lg)
                position: sticky
                top: 0
        .sidebar_userspace
            display: flex
            flex:
                direction: column
            padding: 2rem 2rem 3rem 2rem
            @include media_query_up(md)
                position: sticky
                bottom: 3rem
        // Block navigation
        .navigation
            display: flex
            flex:
                direction: column
            align-items: flex-start
            &:not(:last-child)
                margin:
                    bottom: 2.5rem
            .navigation_title
                font-size: .8em
                margin-bottom: 1.2rem
            .navigation_item
                text-decoration: none
                color: black
                &:not(:last-child)
                    margin-bottom: 1.2rem
                &:hover
                    text-decoration: underline
    .main
        grid-area: main
        @include media_query_up(sm)
            padding:
                left: 1em
                right: 1em
        @include media_query_up(lg)
            padding:
                left: 3em
                right: 5em
    .footer
        grid-area: footer
        width: 100%
        display: flex
        flex:
            direction: row
            wrap: wrap
        // Decorative
        background-color: $color-gray__light
        padding:
                left: 1em
                right: 1em
                top: 3em
                bottom: 3em
        @include media_query_up(lg)
            padding:
                left: 3em
                right: 5em
        .footer_nav
            padding: 0
            display: flex
            list-style-type: none
            @include media_query_down(sm)
                flex-direction: column
                align-items: flex-start
                .footer_nav-item
                    line-height: 1.2
                    margin-bottom: .5rem
            .footer_nav-item
                color: darken($color-gray, 20%)
                text-decoration: none
                padding-right: 1rem
                &:hover
                    text-decoration: underline
        .footer_copyright
            margin-left: auto
            color: darken($color-gray, 20%)
            @include media_query_down(xs)
                width: 100%
                margin-top: 2rem
    .player-area
        grid-area: player
        position: sticky
        bottom: 0
        z-index: 99
        // Size
        width: 100%
        height: 4rem
        // Decorative
        background-color: $color-white
        box-shadow: 0 0 .5em rgba(black, .05)
        padding:
            left: 1rem
            right: 1.5rem
        @include media_query_up(sm)
            padding:
                left: 2.5rem