.news-list
	display: grid
	grid:
		template:
			columns: repeat(auto-fill, minmax(250px, 1fr))
		auto:
			rows: minmax(calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 10rem), 1fr)
		gap: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem)
	padding: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 1rem) 0
	@include media_query_up(md)
	&.news-list__highlite-first
		.news-list_item:first-child
			@include media_query_up(md)
				grid:
					column: 1 / span 2
					row: 1 / span 2