mixin news-list(array, limit)
	//- Data
	if limit
		- array = array.slice(0, limit)
	else
		- array = array
	//- Markup
	.news-list&attributes(attributes)
		for item in array
			+news-item(item.cover, item.date, item.title, users[item.author])(class="news-list_item", news_tags)