extends ../_layouts/artist
block header
	- var header = ''
	include ../_includes/header__artist
block content
	.g-block__background-dark: .g-container.g-container__wide
		.g-row
			.g-cols__xs-12.g-cols__lg-6.g-padding__bottom-5
				nav.g-breadcrumbs.g-text__center.g-margin__top-3.g-padding__top-5
					ul
						li: a(href="#") Home
						li: span.g-text__white Contacts
				form.g-margin__top-5.g-margin__xx-auto.g-cols__lg-5
					h1.h3.g-text__white.b-title__double-line
						span.main
							svg.rage: use(xlink:href="#rage-heart")
							| Get in touch
						small.small.g-padding__left-5 Just say #[span.g-text__primary hello]!
					.b-field.b-field__white
						input.b-field_input#git_name(type="text")
						label.b-field_sup(for="git_name") Name
					.b-field.b-field__white
						input.b-field_input#git_mail(type="text")
						label.b-field_sup(for="git_mail") Email
					.b-field.b-field__white
						textarea.b-field_input#git_coment()
						label.b-field_sup(for="git_coment") Comment
					button.g-button.g-button__primary Hello
			.g-cols__xs-12.g-cols__lg-6.g-padding__xx-0
				#map(style="width:100%;min-height:500px;height:100%;")
				script.
					function initMap() {
						var uluru = {lat: 40.7143528, lng: -74.0059731};
						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 15,
							center: uluru,
							gestureHandling: 'cooperative'
						});
						var marker = new google.maps.Marker({
							position: uluru,
							map: map
						});
					}
				script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYrT3I2aBq4314tkfMn93EF3B3ph-cQ98&callback=initMap")