extends ../_layouts/artist
block header
	- var header = ''
	include ../_includes/header__artist
block content
	// Artist heroscreen
	.g-block__background-light
		.b-heroscreen.b-heroscreen__slider.b-slider
			// Items
			.b-slider_list
				.b-slider_item.b-heroscreen_item.b-heroscreen_item__background.active(style='background-image:url(assets/images/media_images_0.jpg)')
					.g-cols__xs-12.g-cols__lg-3.g-margin__top-auto.g-margin__md-left-5.g-margin__bottom-5
						h2.h5.g-margin__yy-0.g-text__white Live concert: from music festival #[a(href="#") "Moskow never sleeps"]
						p.g-text__light Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
				.b-slider_item.b-heroscreen_item.b-heroscreen_item__background(style='background-image:url(assets/images/media_images_1.jpg)')
					.g-cols__xs-12.g-cols__lg-3.g-margin__top-auto.g-margin__md-left-5.g-margin__bottom-5
						h2.h5.g-margin__yy-0.g-text__white Live concert: from music festival #[a(href="#") "Moskow never sleeps"]
						p.g-text__light Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
				.b-slider_item.b-heroscreen_item.b-heroscreen_item__background(style='background-image:url(assets/images/media_images_2.jpg)')
					.g-cols__xs-12.g-cols__lg-3.g-margin__top-auto.g-margin__md-left-5.g-margin__bottom-5
						h2.h5.g-margin__yy-0.g-text__white Live concert: from music festival #[a(href="#") "Moskow never sleeps"]
						p.g-text__light Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
			// Controls
			.b-slider_controls
				.control.pre_slide
					svg.rage: use(xlink:href="#rage-chevron-left")
				.control.next_slide
					svg.rage: use(xlink:href="#rage-chevron-right")
	nav.g-breadcrumbs.g-text__center.g-padding__yy-3
		ul
			li: a(href="#") Home
			li: a(href="#") Media
			li: span Images