extends ../_layouts/artist
block header
	- var header = ''
	include ../_includes/header__artist
block content
	nav.g-breadcrumbs.g-text__center.g-margin__top-3.g-padding__top-5
		ul
			li: a(href="#") Home
			li: span News
			
	section
		.g-container
			.g-row
				.g-cols__xs-12.g-cols__lg-3.g-padding__yy-3.g-padding__lg-yy-5
					h4 Filter
					.b-field.g-margin__bottom-2
						svg.b-field_icon.b-field_icon__right: use(xlink:href="#rage-search")
						input.b-field_input#filter_search(type="search")
						label.b-field_sup(for="filter_search") Search
					.g-margin__bottom-2
						h5 Select
						.b-field
							select.b-field_input
								option V1
								option V2
								option V3
					.g-margin__bottom-2
						h5 Radios
						label.b-field.b-field__radio
							input.b-field_input(type="radio" name="radio")
							| Radio
						label.b-field.b-field__radio
							input.b-field_input(type="radio" name="radio")
							| Radio
						label.b-field.b-field__radio
							input.b-field_input(type="radio" name="radio")
							| Radio
					.g-margin__bottom-2
						h5 Checkboxes
						label.b-field.b-field__checkbox
							input.b-field_input(type="checkbox" name="check")
							| Check
						label.b-field.b-field__checkbox
							input.b-field_input(type="checkbox" name="check")
							| Check
						label.b-field.b-field__checkbox
							input.b-field_input(type="checkbox" name="check")
							| Check
				.g-cols__xs-12.g-cols__lg-9.g-padding__yy-3.g-padding__lg-yy-5
					h2 Newslist
					.g-row
						each item in news_list
							.g-cols__xs-12.g-cols__sm-6.g-cols__md-4
								.b-card
									.b-card_image: a(href="news_item.html")
										img.g-image__fluid(src=item.thumb alt="news")
									h5: a.g-text__dark(href="news_item.html")= item.title
									p.g-text__gray: small= item.date
						each item in news_list
							.g-cols__xs-12.g-cols__sm-6.g-cols__md-4
								.b-card
									.b-card_image: a(href="news_item.html")
										img.g-image__fluid(src=item.thumb alt="news")
									h5: a.g-text__dark(href="news_item.html")= item.title
									p.g-text__gray: small= item.date