extends ../_layouts/artist
block header
	- var header = ''
	include ../_includes/header__artist
block content
	// Artist heroscreen
	.g-block__background-light
		.b-heroscreen
			// Items
			.b-heroscreen_item.b-heroscreen_item__background.active(style='background-image:url(assets/images/media_images_0.jpg)')
				.g-cols__xs-12.g-cols__lg-3.g-margin__top-auto.g-margin__md-left-5.g-margin__bottom-5
					h1.g-margin__yy-0.g-text__white News title
	nav.g-breadcrumbs.g-text__center.g-padding__yy-3
		ul
			li: a(href="#") Home
			li: a(href="#") News
			li: span News title
	.g-container.g-padding__bottom-5
		.g-row
			article.g-cols_12.g-cols__lg-9
				h2 Some heading
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
				p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
				p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
				p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
				hr
				.b-comments
					h4 Leave a comment
					p There are #[span.g-text__primary XX] comments
					.b-comments_form.g-block__background-light.g-padding__xx-3.g-padding__top-3.g-padding__bottom-2
						.b-field
							input.b-field_input#git_name(type="text")
							label.b-field_sup(for="git_name") Name
						.b-field
							input.b-field_input#git_mail(type="text")
							label.b-field_sup(for="git_mail") Email
						.b-field
							textarea.b-field_input#git_coment
							label.b-field_sup(for="git_coment") Comment
						.g-text__right
							button.g-button.g-button__primary Comment it
					.b-comment.g-padding__yy-2
						.g-row
							.g-cols__xs-3.g-cols__md-2.g-padding__right-0
								img.g-image__fluid(src="https://randomuser.me/api/portraits/women/54.jpg" alt="user")
							.g-cols__xs-8.g-cols__md-10.g-margin__yy-auto
								h5.m-text__stroke-clip Becky Butler
								p: a.m-text__stroke-clip(href="#" title="becky.butler38@example.com") becky.butler38@example.com
							.g-cols__xs-12.g-cols__md-10.g-offset__md-2
								p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
						.b-comment.g-padding__yy-2
							.g-row
								.g-cols__xs-3.g-cols__md-2.g-padding__right-0
									img.g-image__fluid(src="https://randomuser.me/api/portraits/women/54.jpg" alt="user")
								.g-cols__xs-8.g-cols__md-10.g-margin__yy-auto
									h5.m-text__stroke-clip Becky Butler
									p: a.m-text__stroke-clip(href="#" title="becky.butler38@example.com") becky.butler38@example.com
								.g-cols__xs-12.g-cols__md-10.g-offset__md-2
									p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
									a(href="#") Leave a reply
			aside.g-cols_12.g-cols__lg-3
				.g-margin__bottom-2
					h4 Categories
					ul.m-list__to-row.g-list__unstyled
						li: a(href="#") All
						li: a(href="#") Band news
						li: a(href="#") Concerts
				h4 Filter
				.b-field
					svg.b-field_icon.b-field_icon__right: use(xlink:href="#rage-search")
					input.b-field_input#filter_search(type="search")
					label.b-field_sup(for="#filter_search") Search