.tag
    display: inline-flex
    padding: .5rem 1.25rem
    border-radius: 1rem
    background-color: $color-gray__light
    border: .05rem solid darken($color-gray__light, 3%)
    color: black
    cursor: default
    &.link
        cursor: pointer