extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': Advanced use'

block main
    .container
        +heading('h1')(class='heading__h2') Advanced use
        p.text In this project, we used the technology:
        ul.list
            li.list_item Gulp — task-runner — manager who collects our project
            li.list_item NPM — dependency manager
            li.list_item SASS — preprocessor for building sass-styles
            li.list_item Pug — «Preprocessor» for the language html
        p.text To collect the project as you want, you need to establish all the dependencies. By default, we will remove all dependency nodes so that they do not take up space and run the project with the settings.
