extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': Документация'
    -var docs_lang = 'ru'

block main
    .container
        +heading('h1')(class='heading__h2') Доброго времени суток!
        p.paragraph Я и моя команда iAmStudio спешим порадовать вас нашей новой темой Vivaldo. Это новый, уникальный шаблон для создания различных шаблонов должен помочь вам в музыкальный (и не только) тематике.
        p.paragraph Здесь мы реализовали много нестандартных элементов, которые, как мы считаем, просто необходимы для плеера или для сайта музыкального исполнителя, но о них позже.

        +heading('h2')(class='heading__h3') Что нас вдохновило
        p.paragraph Если вы посмотрите в список наших работ, то можете увидеть, что мы решили называть их схоже с именами великих людей. Они нас и вдохновляют.
        p.paragraph Мы, как и многие другие, используем музыкальные плееры для прослушивания музыки дома\на работе. Это тоже вдохновляет. Именно поэтому нам было так интересно разрабатывать этот дизайн.

        +heading('h3')(class='heading__h4') Credits
        ul.list
            li.list_item Наши  зависимости
                ul.list
                    li.list_item: +link('https://github.com/devamstudio/fa-kit').link FA-Kit
                    li.list_item: +link('https://i-am.studio/market/icons-rage-set/').link Icons Rage
            li.list_item Сторонние решения
                ul.list
                    li.list_item: +link('https://pixabay.com/ru/').link Pixabay