extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': Шаблоны'
    -var docs_lang = 'ru'

block main
    .container
        +heading('h1')(class='heading__h2') Шаблоны
        p.paragraph В проекте предусмотрено несколько вариантов использования. Среди них готовые шаблоны:
        ul.list
            li.list_item all_clean — голые стили и скрипты
            li.list_item player-scroller — второй дизайн плеера
            li.list_item player-sidebar — дефолтный дизайн плеера
        p.paragraph Все они находятся в папке dist.