extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': Запуск Gulp-задач'
    -var docs_lang = 'ru'

block main
    .container
        +heading('h1')(class='heading__h2') Запуск Gulp-задач
        p.paragraph После того, как вы установили все необходимые компоненты, можно приступать к сборке проекта.
        p.paragraph Первым делом вам обязательно надо запустить команда gulp — для того, чтобы скопировать все конечные зависимости в папку assets.
        p.paragraph Затем уже можно запускать просто gulp — сработает дефолтная задача, которая включает в себя watch всех файлов. Для удобной работы с проектом мы подключили livereload с сервером. Ближе к концу разработки мы закомментировали код, который обновлял страницу на локальном сервере. Вы можете включить эту возможность в gulpfile.js.
        .notification.notification__alert
            p.paragraph Если вы быстро выполняете разные задачи, то может случится конфликт выполнения задачи по сжатию картинок imagemin. Если вы увидели, что он не отработал, запустите его вручную.