extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': Установка зависимостей'
    -var docs_lang = 'ru'

block main
    .container
        +heading('h1')(class='heading__h2') Установка зависимостей
        p.paragraph Для работы с проектом необходимо установить все зависимости, которые требуются для выполнения кода. Их список хранится в файле package.json. А чтобы установить — достаточно открыть командную строку и запустить команду npm install в корне проекта. Эта команда создаст папку node_modules. в корне проекта.
        p.paragraph Мы используем Windows среду с установленной в нее Ubuntu. Это позволяет нам с легкостью оперировать командной строкой. Мы открываем ее прямо из папки нажав Ctrl+RCM, и, получив такое контекстное меню, выбираем пункт с Shell
        p.paragraph Затем вводим команду bash, после чего все остальные команды для unix.
        p.paragraph Для работы вам понадобится node, вы можете установить ее используя инструкции сайта: 
            +link('https://nodejs.org/en/').link https://nodejs.org/en/
            | . Следуйте инструкциям. Мы используем последнюю версию — 10.3.0. Хотя модули, которые мы используем пока и могут выдавать конфликты.
        p.paragraph Также вам понадобится git, если вы захотите вручную обновить зависимости, которые являются нашими проектами. На данный момент мы не разместили их в npm среде. Их список был указан выше, в обычном пользовании.
        p.paragraph Также мы дадим ссылку на список проектов, которые мы используем — 
            +link('https://github.com/devamstudio').link github.com/devamstudio