extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': UU'

block main
    .container
        +heading('h1')(class='heading__h2') Usual Uses
        p.paragraph This topic is very easy to use, especially for it, we accelerated the development of several libraries of tools that are designed to simplify and speed up the work with sites. These are:
        ul.list
            li.list_item 
                +link('https://github.com/devamstudio/fa-kit').link FA-Kit
                |  is a library designed for easy project assembly through ready-made constructor classes, including many elements, such as a grid.
            li.list_item Icons Rage — we created a set of strict icons designed to highlight the design of your product among monotonous sites, which have icons like Font Awesome.