extends ../layouts/interactive-docs

block prepend head
    -var document_title = ': UU'
    -var docs_lang = 'ru'

block main
    .container
        +heading('h1')(class='heading__h2') Обычное использование
        p.paragraph Данную тему очень легко использовать, специально для нее мы ускорили разработку нескольких-библиотек инструментов, которые предназначены для упрощения и ускорения работы с сайтами. Это:
        ul.list
            li.list_item 
                +link('https://github.com/devamstudio/fa-kit').link FA-Kit
                |  — библиотека, предназначенная для легкой сборки проектов посредством готовых классов-конструкторов, включающих в себя множество элементов, такие как например сетка.
            li.list_item Иконки Rage — разрабатываемый нами набор строгих иконок, призванных выделить дизайн вашего продукта среди однообразных сайтов, на которых присутствуют иконки типа Font Awesome.
        .notification.notification__warning
            p.paragraph Обращаем ваше внимание, сборки отличаются по наполнению, и по наличию стилей в файлах css. Если вы хотите использовать полный файл со стилями, возьмите его в папке проекта player-sidebar/assets/style. Этот проект содержит в себе больше элементов, а мы старались не перегружать стили для плеера и убрали оттуда несколько групп. Если вы хотите самостоятельно собрать свои стили — перейдите в раздел 
                +link('./au_ru.html').link продвинутое использование
                | .