mixin dropdown(array)
    .dropdown(class!=attributes.class)
        .dropdown_control
            if attributes.icon
                +icon(attributes.icon.type, attributes.icon.value)
            else if block
                block
            else
                span Dropdown
        .dropdown_list(class!=attributes.list_class)
            for item in array
                +link('./index.html')(class='dropdown_list-item')= item