.user
	display: flex
	align-items: center
	justify-content: flex-start
	.user_thumb
		display: inline-block
		height: 2rem
		width: 2rem
		border-radius: 50%
		background-size: cover
		margin-right: .5rem
	.user_name
		max-height: 1em
		overflow: hidden
		text-overflow: ellipsis