include ../dropdown/dropdown
mixin album(cover, title, artist)
    .album(class!=attributes.class, style!=attributes.style)
        .album_control.album_control__left
            +icon('rage', 'heart')
        .album_control.album_control__right
            +dropdown(['Add', 'Remove'])(list_class="dropdown_list__right", icon={type:'rage',value:'dots'})
        +link("./album.html")(class='album_cover')
            +image(cover)(class='album_cover-image')
        +link("./album.html")(class="album_title")
            = title
        +link("./artist.html")(class="album_artist")
            = artist