.album
	display: flex
	flex-direction: column
	transition: all .3s
	position: relative
	// States
	&:hover
		@include media_query_up(lg)
			box-shadow: 0 0 1.5em rgba(black, .16)
			padding:
				bottom: calc(var(--grid-square) * 4 / var(--font-size) * 1rem)
			margin-top: calc(var(--grid-square) * 4 / var(--font-size) * -1rem)
			border-radius: .5rem
			.album_cover-image
				border-radius: 50%
				padding: calc(var(--grid-square) * 4 / var(--font-size) * 1rem)
			.album_control
				opacity: 1
				transform: translateY(0)
				pointer-events: auto
				transition: all .2s .2s
	// Elements
	.album_control
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		height: 2.2rem
		width: 2.2rem
		border-radius: 50%
		background-color: $color-white
		transition: all .2s
		@include media_query_up(lg)
			top: calc(var(--grid-square) * 4 / var(--font-size) * .25rem)
			background-color: $color-gray__light
			opacity: 0
			pointer-events: none
		@include media_query_down(md)
			top: calc(var(--grid-square) * 4 / var(--font-size) * .5rem)
		&.album_control__left
			@include media_query_up(lg)
				left: calc(var(--grid-square) * 4 / var(--font-size) * .25rem)
			@include media_query_down(md)
				left: calc(var(--grid-square) * 4 / var(--font-size) * .5rem)
		&.album_control__right
			@include media_query_up(lg)
				right: calc(var(--grid-square) * 4 / var(--font-size) * .25rem)
			@include media_query_down(md)
				right: calc(var(--grid-square) * 4 / var(--font-size) * .5rem)
		// States
		&:hover
			transition: all .2s
			background-color: darken($color-gray__light, 5%)
			cursor: pointer
		// Mixed
		.dropdown
			height: inherit
			width: inherit
			border-radius: inherit
			.icon.rage
				font-size: 1.1em
	.album_cover
		margin-bottom: calc(var(--grid-square) * 4 / var(--font-size) * .25rem)
		transition: all .3s
		&-image
			width: 100%
			transition: all .3s
	.album_title
		text-align: center
		color: $color-black
		font:
			size: 1.1rem
			family: $font-heading
		line-height: calc(var(--grid-square) * 4 / var(--font-size) * 1rem)
		text-decoration: none
	.album_artist
		text-align: center
		line-height: calc(var(--grid-square) * 4 / var(--font-size) * .75rem)
		font-size: .9rem
		text-decoration: none
		color: $color-gray