doctype html
html(lang='ru')
    head
        block head
            meta(charset="utf-8")
            title= title + document_title
            //- Decorative
            meta(name="theme-color" content= color.primary)
            //- Decorative END
            meta( name="viewport" content="width=device-width, initial-scale=1")
            link( rel="stylesheet" type="text/css" href="./style.css")
            link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto")
            link( rel="stylesheet" type="text/css" href="https://space.i-am.studio/font-icons-rage/releases/v1.0.1/css/font-rage.css")
    block markup