mixin player(track)
	.player
		.player_controls.hidden__xs
			span.player_control.hidden__md-up
				+icon('rage', 'play-back')
		.player_track-cover(style='background-image:url('+track.cover+')')
			.player_track-cover_overlay.hidden__md-up
				+icon('rage', 'pause')
		.player_controls
			span.player_control.hidden__sm-down
				+icon('rage', 'play-back')
			span.player_control.player_control__play-pause.hidden__sm-down
				+icon('rage', 'play')
			span.player_control
				+icon('rage', 'play-forward')
		.player_meta
			span.player_track-title= track.title
			+link('./artist.html')(class='player_track-artist')= track.artist
		.player_duration= track.duration
		.player_additional-controls.margin__left-3(hidden)
			span.player_control
				+icon('rage', 'mix')
			span.player_control
				+icon('rage', 'loop')