//- Years
-
	var years = ['1991', '1993', '1994', '1996', '1999', '2005', '2006', '2007', '2016']
//- Years END

//- Nav
-
	var nav = [
		{
			title : 'Home',
			link : 'index.html',
		},
		{
			title : 'News',
			link : 'news.html',
		},
		{
			title : 'Tha band',
			link : 'about.html',
		},
		{
			title : 'Media',
			subnavigation : [
				{
					title : 'Video',
					link : 'media_videos.html',
				},
				{
					title : 'Photo',
					link : 'media_images.html',
				},
			]
		},
		{
			title : 'Contacts',
			link : 'contacts.html',
		}
	]
//- Nav END

//- Artist
-
	var artist = {
		title : 'David Bowie',
		image : 'https://lastfm-img2.akamaized.net/i/u/300x300/6c5d11a4d40644efa13cfa5892e9a0c3.png',
		description : 'David Bowie (b. David Robert Jones on 8th January 1947 in Brixton, London, UK, d. 10th January 2016 in New York, USA) was an English rock singer, songwriter, musician, and actor. Active during six decades of popular music and frequently reinventing his music and image, Bowie is widely regarded as an innovator, particularly for his work in the 1970s. Shortly after releasing his 25th studio album Blackstar, it was announced Bowie died on 10 January 2016, following an eighteen-month battle with cancer. At the 59th Grammy Awards on Sun, February 12, 2017, Bowie took the award for \"Best Rock Song\" for \"Blackstar\".',
		albums : [
			{
				title : 'Heroes',
				image : 'https://lastfm-img2.akamaized.net/i/u/300x300/d4d2546b3a62d4bb909d8f2b6b65455d.jpg',
				tracks : [
					{
						title : 'Heroes',
						duration : '6:05'
					},
					{
						title : 'V-2 Schneider',
						duration : '3:10'
					},
				],
				likes : '100KK',
			},
			{
				title : 'Space Oddity',
				image : 'https://lastfm-img2.akamaized.net/i/u/300x300/784cf1649cfdb7b402952f9870ae93cd.jpg',
				tracks : [
					{
						title : 'Space Oddity',
						duration : '5:13'
					},
					{
						title : 'Wild Eyed Boy From Freecloud',
						duration : '4:47'
					},
				],
				likes : '10',
			},
			{
				title : 'Aladdin Sane',
				image : 'https://lastfm-img2.akamaized.net/i/u/300x300/2cb76c7567fd478ebe443979394f2801.jpg',
				tracks : [
					{
						title : 'Watch That Man',
						duration : '4:10'
					},
					{
						title : 'Aladdin Sane (1913-1938-197?)',
						duration : '5:15'
					},
					{
						title : 'Drive-In Saturday',
						duration : '4:38'
					},
					{
						title : 'Panic in Detroit',
						duration : '5:51'
					},
					{
						title : 'Cracked Actor',
						duration : '3:26'
					},
					{
						title : 'Time',
						duration : '5:09'
					},
					{
						title : 'The Prettiest Star',
						duration : '3:28'
					},
					{
						title : 'Let\'s Spend the Night Together',
						duration : '3:03'
					},
					{
						title : 'The Jean Genie',
						duration : '4:06'
					},
					{
						title : 'Lady Grinning Soul',
						duration : '3:53'
					},
				],
				likes : '10',
			},
			{
				title : 'Station to Station',
				image : 'https://lastfm-img2.akamaized.net/i/u/300x300/cb82c057a9a44595b994b04a19590594.jpg',
				tracks : [
					{
						title : 'Station to Station',
						duration : '8:49'
					},
					{
						title : 'Golden Years',
						duration : '4:03'
					},
					{
						title : 'Word on a Wing',
						duration : '6:00'
					},
					{
						title : 'TVC 15',
						duration : '5:29'
					},
					{
						title : 'Star',
						duration : '2:47'
					},
					{
						title : 'Wild Is the Wind',
						duration : '5:28'
					},
				],
				likes : '1999',
			},
		],
	}
//- Artist END

//- Events
-
	var events_list = [
		{
			date : '10\\06\\2018',
			country : 'Russia',
			city : 'Moscow',
			type : 'Festival',
			cost : '12$',
			fulldate : '10\\06\\2018 - 15\\06\\2018',
		},
		{
			date : '15\\08\\2018',
			country : 'Australia',
			city : 'Sidney',
			type : 'Festival',
			cost : '30$',
		},
		{
			date : '05\\01\\2019',
			country : 'USA',
			city : 'New-York',
			type : 'Disco',
			cost : '15$',
		},
		{
			date : '11\\05\\2019',
			country : 'Poland',
			city : 'Warsaw',
			type : 'Disco',
			cost : '5$',
		},
		{
			date : '19\\12\\2020',
			country : 'Russia',
			city : 'St. Petersburg',
			type : 'Concert',
			cost : '20$',
		},
	]
//- Events END

//- News
-
	var news_list = [
		{
			title : 'What happaned yestrerday if you look throw it today',
			date : '19\\01\\2018',
			thumb : 'assets/images/news-thumb-1.jpg',
			image : ' ',
		},
		{
			title : 'Rabbit rock is dead',
			date : '15\\02\\2018',
			thumb : 'assets/images/news-thumb-2.jpg',
			image : ' ',
		},
		{
			title : 'What happaned yestrerday if you look throw it today',
			date : '03\\08\\2018',
			thumb : 'assets/images/news-thumb-3.jpg',
			image : ' ',
		},
		{
			title : 'What happaned yestrerday if you look throw it today',
			date : '19\\05\\2019',
			thumb : ' assets/images/news-thumb-4.jpg',
			image : ' ',
		},
	]
//- News END