//- Years
-
	var years = ['1991', '1993', '1994', '1996', '1999', '2005', '2006', '2007', '2016']
//- Years END

//- Nav
-
	var nav = [
		{
			title : 'Home',
			link : 'index.html',
		},
		{
			title : 'News',
			link : 'news.html',
		},
		{
			title : 'Tha band',
			link : 'about.html',
		},
		{
			title : 'Media',
			subnavigation : [
				{
					title : 'Video',
					link : 'media_videos.html',
				},
				{
					title : 'Photo',
					link : 'media_images.html',
				},
			]
		},
		//{
		//	title : 'Shop',
		//	link : 'shop.html',
		//},
		{
			title : 'Contacts',
			link : 'contacts.html',
		}
	]
//- Nav END

//- Artist
-
	var artist = {
		title : 'Untitled Artist',
		description : 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.',
		albums : [
			{
				title : 'Untitled Album',
				tracks : [
					{
						title : 'Untitled',
						duration : '6:05'
					},
					{
						title : 'Untitled',
						duration : '3:10'
					},
				],
				likes : '100KK',
			},
			{
				title : 'Untitled Album',
				tracks : [
					{
						title : 'Untitled',
						duration : '5:13'
					},
					{
						title : 'Untitled',
						duration : '4:47'
					},
				],
				likes : '10',
			},
			{
				title : 'Untitled Album',
				tracks : [
					{
						title : 'Untitled',
						duration : '4:10'
					},
					{
						title : 'Untitled',
						duration : '5:15'
					},
					{
						title : 'Untitled',
						duration : '4:38'
					},
					{
						title : 'Untitled',
						duration : '5:51'
					},
					{
						title : 'Untitled',
						duration : '3:26'
					},
					{
						title : 'Untitled',
						duration : '5:09'
					},
					{
						title : 'Untitled',
						duration : '3:28'
					},
					{
						title : 'Untitled',
						duration : '3:03'
					},
					{
						title : 'Untitled',
						duration : '4:06'
					},
					{
						title : 'Untitled',
						duration : '3:53'
					},
				],
				likes : '10',
			},
			{
				title : 'Untitled Album',
				tracks : [
					{
						title : 'Untitled',
						duration : '8:49'
					},
					{
						title : 'Untitled',
						duration : '4:03'
					},
					{
						title : 'Untitled',
						duration : '6:00'
					},
					{
						title : 'Untitled',
						duration : '5:29'
					},
					{
						title : 'Untitled',
						duration : '2:47'
					},
					{
						title : 'Untitled',
						duration : '5:28'
					},
				],
				likes : '1999',
			},
		],
	}
//- Artist END

//- Events
-
	var events_list = [
		{
			date : '10\\06\\2018',
			country : 'Russia',
			city : 'Moscow',
			type : 'Festival',
			cost : '12$',
			fulldate : '10\\06\\2018 - 15\\06\\2018',
		},
		{
			date : '15\\08\\2018',
			country : 'Australia',
			city : 'Sidney',
			type : 'Festival',
			cost : '30$',
		},
		{
			date : '05\\01\\2019',
			country : 'USA',
			city : 'New-York',
			type : 'Disco',
			cost : '15$',
		},
		{
			date : '11\\05\\2019',
			country : 'Poland',
			city : 'Warsaw',
			type : 'Disco',
			cost : '5$',
		},
		{
			date : '19\\12\\2020',
			country : 'Russia',
			city : 'St. Petersburg',
			type : 'Concert',
			cost : '20$',
		},
	]
//- Events END

//- News
-
	var news_list = [
		{
			title : 'What happaned yestrerday if you look throw it today',
			date : '19\\01\\2018',
			thumb : 'https://via.placeholder.com/350x210',
			image : 'https://via.placeholder.com/1920x1080',
		},
		{
			title : 'Rabbit rock is dead',
			date : '15\\02\\2018',
			thumb : 'https://via.placeholder.com/350x210',
			image : 'https://via.placeholder.com/1920x1080',
		},
		{
			title : 'What happaned yestrerday if you look throw it today',
			date : '03\\08\\2018',
			thumb : 'https://via.placeholder.com/350x210',
			image : 'https://via.placeholder.com/1920x1080',
		},
		{
			title : 'What happaned yestrerday if you look throw it today',
			date : '19\\05\\2019',
			thumb : 'https://via.placeholder.com/350x210',
			image : 'https://via.placeholder.com/1920x1080',
		},
	]
//- News END