//- Genres
-
	var genres = ['Rock', 'Rave', 'Techno', 'Soul', 'Pop', 'World Music', 'Punk', 'Jass', 'Classical']
//- Genres END

//- Years
-
	var years = ['1991', '1993', '1994', '1996', '1999', '2005', '2006', '2007', '2016']
//- Years END

//- Artists
-
	var artists = [
		{
			title : 'Untitled Artist',
			description : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.",
			albums : [
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
						{
							title : 'Untitled',
							duration : '3:08'
						},
						{
							title : 'Untitled',
							duration : '3:34'
						},
						{
							title : 'Untitled',
							duration : '2:55'
						},
						{
							title : 'Untitled',
							duration : '2:44'
						},
						{
							title : 'Untitled',
							duration : '3:24'
						},
						{
							title : 'Untitled',
							duration : '2:42'
						},
						{
							title : 'Untitled',
							duration : '3:17'
						},
						{
							title : 'Untitled',
							duration : '3:16'
						},
						{
							title : 'Untitled',
							duration : '2:55'
						},
						{
							title : 'Untitled',
							duration : '2:58'
						},
						{
							title : 'Untitled',
							duration : '2:24'
						},
						{
							title : 'Untitled',
							duration : '3:07'
						},
					],
					likes : '15',
				},
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
						{
							title : 'Untitled',
							duration : '3:08'
						},
						{
							title : 'Untitled',
							duration : '3:08'
						},
					],
					likes : '15',
				},
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
						{
							title : 'Untitled',
							duration : '3:08'
						},
					],
					likes : '0',
				},
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
						{
							title : 'Untitled',
							duration : '3:08'
						},
					],
					likes : '3',
				},
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
						{
							title : 'Untitled',
							duration : '3:08'
						},
					],
					likes : '0',
				},
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
					],
					likes : '4K',
				},
				{
					title : 'Untitled Album',
					tracks : [
						{
							title : 'Untitled',
							duration : '0:13'
						},
						{
							title : 'Untitled',
							duration : '0:13'
						},
					],
					likes : '121K',
				},
			],
		},
		{
			title : 'Untitled Artist',
			description : '',
			albums : [
				
			],
		},
		{
			title : 'Untitled Artist',
			description : '',
			albums : [
				
			],
		},
		{
			title : 'Untitled Artist',
			description : '',
			albums : [
				
			],
		}
	]
//- Artists END

//- Nav
-
	var nav = [
		{
			title : 'Customer agreement',
			link : '#',
		},
		{
			title : 'Help',
			link : '#',
		},
		{
			title : 'Advanced',
			link : '#',
		}
	]
//- Nav END