//- Genres
-
	var genres = ['Rock', 'Rave', 'Techno', 'Soul', 'Pop', 'World Music', 'Punk', 'Jass', 'Classical']
//- Genres END

//- Years
-
	var years = ['1991', '1993', '1994', '1996', '1999', '2005', '2006', '2007', '2016']
//- Years END

//- Artists
-
	var artists = [
		{
			title : 'Linkin Park',
			image : 'https://lastfm-img2.akamaized.net/i/u/300x300/8425d15256d9702ef5d611210a6d2709.png',
			description : "Linkin Park is an American band from Agoura Hills, California. Formed in 1996 the band rose to international fame with their debut album, Hybrid Theory, which was certified Diamond by the RIAA in 2005 and multi-platinum in several other countries. Its following studio album, Meteora, continued the band\'s success, topping the Billboard 200 album chart in 2003, and was followed by extensive touring and charity work around the world. In 2003, MTV2 named Linkin Park the sixth greatest band of the music video era and the third best of the new millennium behind Oasis and Coldplay.",
			albums : [
				{
					title : 'Meteora',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/b636ff6f39f8dd435c89fc7bd2e002f8.jpg',
					tracks : [
						{
							title : 'Foreword',
							duration : '0:13'
						},
						{
							title : 'Dont Stay',
							duration : '3:08'
						},
						{
							title : 'Somewere i belong',
							duration : '3:34'
						},
						{
							title : 'Lying from you',
							duration : '2:55'
						},
						{
							title : 'Hit the floor',
							duration : '2:44'
						},
						{
							title : 'Easier to run',
							duration : '3:24'
						},
						{
							title : 'Faint',
							duration : '2:42'
						},
						{
							title : 'Figure.09',
							duration : '3:17'
						},
						{
							title : 'Breaking the Habit',
							duration : '3:16'
						},
						{
							title : 'From the inside',
							duration : '2:55'
						},
						{
							title : 'Nobodys listening',
							duration : '2:58'
						},
						{
							title : 'Session',
							duration : '2:24'
						},
						{
							title : 'Numb',
							duration : '3:07'
						},
					],
					likes : '15',
				},
				{
					title : 'New Divide',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/630a57ba48b243a2a65dfa0b4b629a73.jpg',
					tracks : [
						{
							title : 'New Divide',
							duration : '0:13'
						},
						{
							title : 'New Divide(Instr)',
							duration : '3:08'
						},
						{
							title : 'New Divide(a capella)',
							duration : '3:08'
						},
					],
					likes : '15',
				},
				{
					title : 'Bleed It Out',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/5178948dfe164faab966621f7f80cd62.jpg',
					tracks : [
						{
							title : 'Bleed It Out',
							duration : '0:13'
						},
						{
							title : 'What I\'ve Done (Distorted Remix)',
							duration : '3:08'
						},
					],
					likes : '0',
				},
				{
					title : 'Given Up',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/f35b4f130c4149aca8364b6139c4b06f.jpg',
					tracks : [
						{
							title : 'Given Up',
							duration : '0:13'
						},
						{
							title : 'Valentine\'s Day [Live From Frankfurt Germany, Jan 20 \'08]',
							duration : '3:08'
						},
					],
					likes : '3',
				},
				{
					title : 'The Catalyst',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/5447f1ccae1142739e762b28c3599157.jpg',
					tracks : [
						{
							title : 'The Catalyst',
							duration : '0:13'
						},
						{
							title : 'The Catalyst(Bla-bla-bla)',
							duration : '3:08'
						},
					],
					likes : '0',
				},
				{
					title : 'Heavy (feat. Kiiara)',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/ec9b0940ce6c1418206c6154f9fda75b.jpg',
					tracks : [
						{
							title : 'Heavy (feat. Kiiara)',
							duration : '0:13'
						},
					],
					likes : '4K',
				},
				{
					title : 'What I\'ve Done',
					image : 'https://lastfm-img2.akamaized.net/i/u/300x300/0f132bfe5c6e4c77ba39aa215aae302b.jpg',
					tracks : [
						{
							title : 'What I\'ve Done',
							duration : '0:13'
						},
						{
							title : 'Faint (live)',
							duration : '0:13'
						},
					],
					likes : '121K',
				},
			],
		},
		{
			title : 'David Bowie',
			image : 'https://lastfm-img2.akamaized.net/i/u/300x300/6c5d11a4d40644efa13cfa5892e9a0c3.png',
			description : 'David Bowie (b. David Robert Jones on 8th January 1947 in Brixton, London, UK, d. 10th January 2016 in New York, USA) was an English rock singer, songwriter, musician, and actor. Active during six decades of popular music and frequently reinventing his music and image, Bowie is widely regarded as an innovator, particularly for his work in the 1970s. Shortly after releasing his 25th studio album Blackstar, it was announced Bowie died on 10 January 2016, following an eighteen-month battle with cancer. At the 59th Grammy Awards on Sun, February 12, 2017, Bowie took the award for \"Best Rock Song\" for \"Blackstar\".',
			albums : [
				
			],
		},
		{
			title : 'Red Hot Chili Papers',
			image : 'https://lastfm-img2.akamaized.net/i/u/300x300/c1d6a8e426734924870c0031178a1aa9.png',
			description : '',
			albums : [
				
			],
		},
		{
			title : 'Foo Fighters',
			image : 'https://lastfm-img2.akamaized.net/i/u/300x300/162a4a04d9d14d2e90b651e8c076decb.png',
			description : '',
			albums : [
				
			],
		}
	]
//- Artists END

//- Tracks
-
	var tracks = [
		{
			title : 'In the End',
			thumb : 'https://lastfm-img2.akamaized.net/i/u/armed/722c6525d20740178557dda5bf59d4a9.jpg',
			artist : 'Linkin Park',
			album : 'Road To Revolution: Live at Milton Keynes',
			duration : '3:36'
		},
		{
			title : 'In the End',
			thumb : 'https://lastfm-img2.akamaized.net/i/u/armed/722c6525d20740178557dda5bf59d4a9.jpg',
			artist : 'Linkin Park',
			album : 'Road To Revolution: Live at Milton Keynes',
			duration : '3:36'
		},
		{
			title : 'In the End',
			thumb : 'https://lastfm-img2.akamaized.net/i/u/armed/722c6525d20740178557dda5bf59d4a9.jpg',
			artist : 'Linkin Park',
			album : 'Road To Revolution: Live at Milton Keynes',
			duration : '3:36'
		},
		{
			title : 'In the End',
			thumb : 'https://lastfm-img2.akamaized.net/i/u/armed/722c6525d20740178557dda5bf59d4a9.jpg',
			artist : 'Linkin Park',
			album : 'Road To Revolution: Live at Milton Keynes',
			duration : '3:36'
		},
		{
			title : 'In the End',
			thumb : 'https://lastfm-img2.akamaized.net/i/u/armed/722c6525d20740178557dda5bf59d4a9.jpg',
			artist : 'Linkin Park',
			album : 'Road To Revolution: Live at Milton Keynes',
			duration : '3:36'
		},
	]
//- Tracks END

//- Nav
-
	var nav = [
		{
			title : 'Customer agreement',
			link : '#',
		},
		{
			title : 'Help',
			link : '#',
		},
		{
			title : 'Advanced',
			link : '#',
		}
	]
//- Nav END