section.g-block__background-light.g-padding__yy-3.g-padding__lg-yy-5
	.g-container
		.g-row
			.g-cols__xs-12.g-cols__lg-10.g-offset__lg-2
				h2 Albums by year
		.g-row
			.g-cols__xs-12.g-cols__md-2.g-padding__bottom-3.g-padding__lg-yy-0
				h4 Year
				ul.m-list__to-row.g-list__unstyled
					each year in years
						li: a(href="#")= year
			.g-cols__xs-12.g-cols__md-10
				.g-row
					each album in artist.albums
						.g-cols__xs-6.g-cols__sm-4.g-cols__md-3
							.b-card
								.b-card_image: a(href="album.html")
									if album.image
										img.g-image__fluid(src=album.image alt="album")
									else
										img.g-image__fluid(src='https://via.placeholder.com/300x300' alt="album")
								h5.b-card_title: a.m-text__stroke-clip(href="album.html")= album.title
								.b-card_meta
									span.tracks
										svg.rage: use(xlink:href="#rage-soundtrack")
										= album.tracks.length
									span.likes
										svg.rage: use(xlink:href="#rage-heart")
										= album.likes
					each album in artist.albums
						.g-cols__xs-6.g-cols__sm-4.g-cols__md-3
							.b-card
								.b-card_image: a(href="album.html")
									if album.image
										img.g-image__fluid(src=album.image alt="album")
									else
										img.g-image__fluid(src='https://via.placeholder.com/300x300' alt="album")
								h5.b-card_title: a.m-text__stroke-clip(href="album.html")= album.title
								.b-card_meta
									span.tracks
										svg.rage: use(xlink:href="#rage-soundtrack")
										= album.tracks.length
									span.likes
										svg.rage: use(xlink:href="#rage-heart")
										= album.likes