footer.b-footer
	.g-container
		.g-row
			.g-cols__xs-12.g-cols__md-4
				a.logo.g-margin__bottom-2(href="index.html")
					include logo.svg
				p Copyright 2018
			.g-cols__xs-12.g-cols__md-8.g-text__lg-right
				nav
					+navigation('navigation', nav)