footer.b-footer
	.g-container
		.g-row
			.g-cols__xs-12.g-cols__sm-6.g-cols__md-3
				a.logo.g-margin__bottom-2(href="index.html")
					include logo.svg
				p Copyright 2018
			.g-cols__xs-12.g-cols__sm-6.g-cols__md-3.g-padding__xs-yy-3.g-padding__sm-yy-0
				nav.g-text__black
					+navigation('navigation', nav)
			.g-cols__xs-12.g-cols__sm-6.g-cols__md-3.g-padding__xs-yy-3.g-padding__sm-yy-0
				strong Subscribe
				.b-field
					input.b-field_input#subscr_mail(type="text")
					label.b-field_sup(for="subscr_mail") Email
				.g-text__lg-right
					a.g-button.g-button__primary Subscribe
			.g-cols__xs-12.g-cols__sm-6.g-cols__md-3
				.g-row
					a.g-cols__xs-2.g-cols__lg-2.g-padding__xx-1.g-margin__lg-left-auto(href="#"): img(src="assets/images/logo1.jpg" class="g-image__fluid" alt="logo")
					a.g-cols__xs-2.g-cols__lg-2.g-padding__xx-1(href="#"): img(src="assets/images/logo2.jpg" class="g-image__fluid" alt="logo")
					a.g-cols__xs-2.g-cols__lg-2.g-padding__xx-1(href="#"): img(src="assets/images/logo3.jpg" class="g-image__fluid" alt="logo")
					a.g-cols__xs-2.g-cols__lg-2.g-padding__xx-1(href="#"): img(src="assets/images/logo4.jpg" class="g-image__fluid" alt="logo")