if(header && header=='heroscreen')
	- var header_class = 'white'
header.b-header(class=header_class)
	.g-container
		.g-row
			a.nav-trigger(onclick="this.classList.toggle('active')")
				svg.burger: use(xlink:href="#rage-burger")
				svg.close: use(xlink:href="#rage-close")
			a.logo(href="index.html")
				include logo.svg
			nav.b-header_nav
				+navigation('megamenu', nav, 'ragesymbols')
			a.search-trigger.g-margin__left-auto(onclick="search_trigger(this);")
				svg.search.rage: use(xlink:href="#rage-search")
				svg.close.rage: use(xlink:href="#rage-close")
	.g-container.b-header_search
		.g-row
			.b-field
				svg.b-field_icon.b-field_icon__right: use(xlink:href="#rage-search")
				input.b-field_input#main_search(type="text")
				label.b-field_sup(for="main_search") Email
			.g-button.g-button__primary Do it
svg#wave(width="160px" height="90px" viewBox="0 0 160 90" preserveAspectRatio="xMidYMax slice" class=header)
	path(d="M 0,0 L 160,0 160,88 C 160,88 80,92 0,88 L 0,88 z" fill="blue")