.b-heroscreen.b-heroscreen__slider.b-slider.g-block__background-light
	svg.b-heroscreen_back(width="160px" height="90px" viewBox="0 0 160 90" preserveAspectRatio="xMidYMax slice")
		path(d="M 0,0 L 160,0 160,88 C 160,88 80,92 0,88 L 0,88 z" fill="blue")
	//
	.b-slider_list
		#item_1.b-slider_item.b-heroscreen_item.active.b-heroscreen_item__svg.g-padding__yy-5
			svg.b-heroscreen_item-image(viewBox="0 0 160 90" preserveAspectRatio="xMidYMax slice")
				pattern#heroimage_0(patternUnits="objectBoundingBox" x="0" y="0" height="100%" width="100%")
					image(xlink:href="assets/images/heroscreen_1.png" width="100%" height="100%")/
				path(d="M 0,0 L 160,0 160,88 C 160,88 80,92 0,88 L 0,88 z" fill="url(#heroimage_0)")
			.g-container
				.g-row
					.g-cols__xs-12.g-cols__lg-6.g-offset__lg-6.g-text__white
						h5.g-margin__yy-0: small Popular today
						h2.h1.g-margin__yy-0: a.g-text__white(href="artist.html")= artists[0].title
						h5.g-margin__yy-0: small= genres[0]
						p.g-margin__yy-2= artists[0].description.substr(0, 200)
						.g-margin__top-4
							a.g-button.g-button__white.g-margin__right-1(href="#")
								svg.rage.g-margin__right-1: use(xlink:href="#rage-list")
								span.g-hidden__xs Playlist
							a.g-button.g-button__primary(onclick="play_demo(this,'button');")
								span.g-hidden__xs.text Play
								svg.rage.g-margin__left-1: use(xlink:href="#rage-play")
		#item_2.b-slider_item.b-heroscreen_item.b-heroscreen_item__svg.g-padding__yy-5
			svg.b-heroscreen_item-image(viewBox="0 0 160 90" preserveAspectRatio="xMidYMax slice")
				pattern#heroimage_1(patternUnits="objectBoundingBox" x="0" y="0" height="100%" width="100%")
					image(xlink:href="assets/images/dog-3234285_1280.png" width="100%" height="100%")/
				path(d="M 0,0 L 160,0 160,88 C 160,88 80,92 0,88 L 0,88 z" fill="url(#heroimage_1)")
			.g-container
				.g-row
					.g-cols__xs-12.g-cols__lg-6.g-offset__lg-6.g-text__white
						h5.g-margin__yy-0: small Popular today
						h2.h1.g-margin__yy-0: a.g-text__white(href="artist.html")= artists[1].title
						h5.g-margin__yy-0: small= genres[0]
						p.g-margin__yy-2= artists[0].description.substr(0, 200)
		#item_3.b-slider_item.b-heroscreen_item.b-heroscreen_item__svg.g-padding__yy-5
			svg.b-heroscreen_item-image(viewBox="0 0 160 90" preserveAspectRatio="xMidYMax slice")
				pattern#heroimage_2(patternUnits="objectBoundingBox" x="0" y="0" height="100%" width="100%")
					image(xlink:href="assets/images/electric-guitar-1669233_1280.png" width="100%" height="100%")/
				path(d="M 0,0 L 160,0 160,88 C 160,88 80,92 0,88 L 0,88 z" fill="url(#heroimage_2)")
			.g-container
				.g-row
					.g-cols__xs-12.g-cols__lg-6.g-offset__lg-6.g-text__white
						h5.g-margin__yy-0: small Popular today
						h2.h1.g-margin__yy-0: a.g-text__white(href="artist.html")= artists[2].title
						h5.g-margin__yy-0: small= genres[0]
						p.g-margin__yy-2= artists[0].description.substr(0, 200)
	// Controls
	.b-slider_controls.g-padding__lg-bottom-5
		.control.pre_slide
			svg.rage: use(xlink:href="#rage-chevron-left")
		.control.next_slide
			svg.rage: use(xlink:href="#rage-chevron-right")