section.g-block__background-dark.g-padding__yy-3.g-padding__lg-yy-5
	.g-container
		h3.g-text__white
			svg.rage: use(xlink:href="#rage-notes")
			| News
		.g-row
			each item in news_list
				.g-cols__xs-12.g-cols__sm-6.g-cols__lg-3
					a(href="#"): img.g-image__fluid(src=item.thumb alt=item.title)
					h5: a.g-text__white(href="#")= item.title
					p.g-text__light: small= item.date