extends ../layouts/player-sidebar

block prepend head
	-var document_title = ': Albums'

block main
	.container
		// Albums list
		+heading('h2')(class="heading__h1 margin__top-0") All albums
		+albums-list(albums)