extends ../layouts/player-sidebar

block prepend head
	-var document_title = ': Artists'

block main
	.container
		// Artists list
		+heading('h1')(class="heading__h1 margin__top-0") Artists
		+artist-cards-list(artists)