extends ../layouts/player-sidebar

block prepend head
    -var document_title = ': Artist'

block main
    .container
        // .block__background-light.padding__yy-3.padding__xx-3.padding__bottom-1
        .row
            .cols__xs-12.cols__md-6.cols__lg-5.cols__xl-4
                +image(artists[0].image)(class='image__fluid')
                +tags-list(['Hard','Hard','Rock','Haliluya'])
            .cols__xs-12.cols__md-6.cols__lg-7.cols__xl-8
                +heading('h1')(class='heading__h1 margin__bottom-0')= artists[0].title
                p.text
                    em #[strong 15] albums, #[strong 199] tracks, help all live together since #[strong 1930]
                p.text.margin__top-2 Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                a.button.button__primary Add to favorite
    .container
        +heading('h2')(class='margin__bottom-0') Artist tracks
        +tracks-list(tracks, 9)
    .container
        +heading('h2')(class='margin__bottom-0') Artist albums
        +albums-list(albums, 7)