extends ../layouts/player-sidebar

block prepend head
    -var document_title = ': News item'

block main
    .container
        // Artists list
        .row
            .cols__lg-8.padding__bottom-2
                +heading('h1')= news[0].title
                p.text: em= news[0].date
                +user(users[0].thumb, users[0].name)
                .padding__yy-1
                    +image(news[0].cover)(class='image__fluid')
                p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p.text Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                p.text In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                p.text Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                p.text Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                p.text Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.

                .margin__yy-2
                    +heading('h3') Comments
                    .comments-list
                        .comment
                            .comment_header
                                +user(users[1].thumb, users[1].name)
                                small: em.date 26/08/2019
                            .comment_body
                                p.text Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
                            .comment_actions
                                +link('#') Reply
                                +link('#') Thumbs up
                        .comment
                            .comment_header
                                +user(users[0].thumb, users[0].name)
                                small: em.date 26/08/2019
                            .comment_body
                                p.text Hi
                            .comment_actions
                                +link('#') Reply
                                +link('#') Thumbs up
                            .comments-list
                                .comment
                                    .comment_header
                                        +user(users[1].thumb, users[1].name)
                                        small: em.date 26/08/2019
                                        +dropdown(['Add', 'Remove'])(icon={type:'rage',value:'dots'})
                                    .comment_body
                                        p.text Hello there
                                    .comment_actions
                                        +link('#') Reply
                                        +link('#') Thumbs up +5
                                .comment
                                    .comment_header
                                        +user(users[0].thumb, users[0].name)
                                        small: em.date 26/08/2019
                                    .comment_body
                                        p.text Hi
                                    .comment_actions
                                        +link('#') Reply
                                        +link('#') Thumbs up
                
                form.margin__yy-2
                    +heading('h3') Leave a comment
                    .row
                        .cols__lg-6: +field('input')(type='text', label='Enter your name', class='margin__bottom-1')
                        .cols__lg-6: +field('input')(type='text', label='Enter your email', class='margin__bottom-1')
                    +field('textarea')(type='text', label='Leave a comment', class='margin__bottom-1')
                    .text__right
                        button.button.button__primary Just do it