extends ../layouts/player-sidebar

block prepend head
    -var document_title = ': Plalists'

block main
    .container
        .row.padding__yy-2
            .cols__sm-5.cols__lg-3
                +image('./images/artist-1__player.jpg')(class='image__fit')
                p.text.margin__top-1
                    em= tracks.length + ' Tracks'
            .cols__sm-7.cols__lg-9
                +heading('h2')(class='heading__uppercase margin__bottom-0')
                    +dropdown(['Rename', 'Remove', 'Clean'])(icon={type:'rage',value:'dots'})
                    | Playlist name
                +tracks-list(tracks, 10)