.artist-card
	display: flex
	min-height: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * 4rem)
	flex:
		direction: column
	justify-content: flex-end
	background-size: cover
	// Decorative
	border-radius: 1em
	position: relative
	transition: all 0.3s
	text-decoration: none!important
	// States
	&:hover
		box-shadow: 0 .5em 1.5em rgba(black, .16)
	// Elements
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba(black, .3)
		border-radius: inherit
	.artist-card_title
		z-index: 1
		margin: calc(var(--grid-square) * var(--grid-squares-per-line) / var(--font-size) * .75rem)
		color: white
		font-size: 1.2rem